
.slider{
    /* background-color: red; */
    width: 200vh;
    height: 50vh;
    /* border-style: none; */
    /* border: 0; */
}

.slider-img{
    /* background-color: blue; */
    width: 200vh;
    height: 500px;
    /* margin-top: auto; */
    position: relative;
    display: flex;
    justify-content: center;
    /* border-style: none; */
    /* border: 0; */
}

.btn{
    position: absolute;
    bottom: 50x;
    display: flex;
    gap: 20x;
}

.hidden{
    display: none;
}